.text-loop-left {
  animation: 1000s linear infinite text-loop-left;
}

@keyframes text-loop-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
